<div class="d-flex justify-content-center align-items-start">
  <div class="col m-3 background-cover p-3">
    <h1>RentMyCPU</h1>
    <p>Rent your CPU power and win money !</p>
    <a href='//www.microsoft.com/store/apps/9nr0k759tvqq?cid=storebadge&ocid=badge'><img
      src='https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png'
      alt='English badge' style='width: 142px; height: 52px;'/></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="title-underline text-center">Overview</h2>
  </div>
</div>
<div class="row">
  <div class="col feature text-center">
    <ul>
      <li>
        <i class="fas fa-check-circle"></i>
        <strong>Earn money by executing tasks from other users.</strong>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <strong>No need to install other dependencies or virtual machine.</strong>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <strong>Execute parallelized tasks faster on a distributed network.</strong>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <strong>Available for PC and mobile.</strong>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="title-underline text-center">Screenshots</h2>
  </div>
</div>

<div class="row m-3">
  <div class="col-md-4">
    <img src="home.png" alt="Interface Home" width="100%">
  </div>
  <div class="col-md-4">
    <img src="create-a-task.png" alt="Interface Create a task" width="100%">
  </div>
  <div class="col-md-4">
    <img src="stats.png" alt="Interface statistics" width="100%">
  </div>
</div>
